.imageflottante{
    float: left;
    border: 2px outset #E26B5A;
    border-radius: 5px;
    box-shadow: 3px 3px 10px black; /*Décalage horizontal de l'ombre, décalage vertical de l'ombre, adoucissement du dégradé, couleur de l'ombre */
}

.dessous{
    clear: both;
}

body{
    background-color:#FCF3D3;
    color: #E26B5A;
}

mark{
    background-color: #F1B04E;
}

a{
    text-decoration: none;
    color: #66ABA5;
    font-style: italic;
}

a:hover{
    text-decoration: underline;
    color: #9ABA8F;
    font-weight: bold;
}
